@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Black';
  src: url('../fonts/Roboto/Roboto-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

:root {
  /* -------- Fonts -------- */
  --fnt-regular: 'Roboto-Regular';
  --fnt-dark: 'Roboto-Black';
  --fnt-bold: 'Roboto-Bold';
  --fnt-medium: 'Roboto-Medium';

  /* -------- Colors -------- */
  --clr-white: #FFFFFF;
  --clr-cloud: #C4C4C4;
  --clr-cloud-light: rgba(196, 196, 196, .8);
  --clr-dark-blue: #0b1b34;
  --clr-green: #03d47c;
  --clr-eucalyptus: #19aa6d;
  --clr-coral-pink: #FF8575;
  --clr-blue: #0185ff;
  --clr-black: #000000;
  --clr-alabaster: #FAFAFA;
  --clr-mountain-mist: #949494;
}

html, body, p, h1, table, ul {
  margin: 0;
	padding: 0;
  border: 0;
}

ul {
  list-style-type: none;
}

body {
  background: var(--clr-dark-blue);
  color: var(--clr-white);
}

 /* -------- General Classes -------- */

.page-title {
  color: var(--clr-black);
  font-family: var(--fnt-dark);
}

.page-title-light {
  color: var(--clr-white);
  font-family: var(--fnt-dark);
}

.wordmark-small {
  display: block;
  height: 20px;
}

.logo-small {
  width: 50px;
}

.btn-primary {
  background-color: var(--clr-green);
  color: var(--clr-white);
  font-size: 1rem;
  padding: 15px;
  font-family: var(--fnt-bold);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--clr-eucalyptus);
}

.error-msg {
  display: none;
  color: var(--clr-coral-pink);
  margin: 15px 0 0 0 ;
}

.hire-me-btn {
  background: transparent;
  border: none;
  color: var(--clr-white);
  font-size: 1rem;
  cursor: pointer;
  font-family: var(--fnt-regular);
  text-decoration: none;
}

.hire-me-btn:hover {
  color: var(--clr-blue);
}

.spinner {
  display: none;
  height: 100px;
  width: 100px;
  opacity: 1;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 15px;
  color: var(--clr-cloud);
  font-size: .7rem;
  font-family: var(--fnt-regular);
}

.back-btn {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  border: none;
}
